/*		Remove Guters		*/
.row {
	margin-right: 0;
	margin-left: 0;
}
	
.container-fluid {
	padding-right: 0;
	padding-left: 0;
}

.container {
	padding-right: 0;
	padding-left: 0;
}



.c_Form1
{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

#Form1_body
{
	background-color: #F8F5F5;
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	font-size: 100%;
	margin: 0px;
	overflow: inherit;
}

.c_MainAjaxPanel
{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	height: 100%;
	left: 0px;
	right: 0px;
	top: 0px;
	width: 100%;
}

.c_LayoutContainer1
{
	background-size: auto;
	cursor: inherit;
}

.c_LayoutRow1
{
	background-color: #007CBF;
	background-position: center;
	background-size: auto;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	padding: 10px !important;
}

.c_LayoutCol1
{
	background-position: center;
	background-size: auto;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	padding: 10px !important;
}

.c_labModuleTitle
{
	font-family: Arial;
	font-size: 18px;
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 0px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-color: Transparent;
	border-style: None;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-width: 0px;
	color: #FFFFFF;
	cursor: inherit;
	display: block;
	font-weight: 400;
	line-height: 12px;
	Padding-right: 0px;
	text-align: Center;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
	word-wrap: normal;
}

.c_LayoutRow3
{
	background-position: center;
	background-size: auto;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	padding: 10px !important;
}

.c_LayoutCol3
{
	background-color: #FFFFFF;
	background-position: center;
	background-size: auto;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	padding: 10px !important;
}

.c_Label_NOME_PRODUTO
{
	font-family: 'Segoe UI';
	font-size: 14px;
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	color: #383838;
	display: block;
	font-weight: 400;
	Padding-right: 0px;
	text-align: Left;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
	word-wrap: normal;
}

.c_RadTextBox_NOME_PRODUTO
{
	font-family: 'Segoe UI' !important;
	font-size: 14px !important;
	background-color: #F7F7F7 !important;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	height: 100%;
	outline-style: none !important;
}

.c_RadTextBox_NOME_PRODUTO_wrapper
{
	position: relative;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	display: block;
	margin: 0px var(--mright) 5px var(--mleft);
	--mleft: 0px;
	--mright: 0px;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
}

.c_LayoutCol4
{
	background-color: #FFFFFF;
	background-position: center;
	background-size: auto;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	padding: 10px !important;
}

.c_Label_VALOR_PRODUTO
{
	font-family: 'Segoe UI';
	font-size: 14px;
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	color: #383838;
	display: block;
	font-weight: 400;
	Padding-right: 0px;
	text-align: Left;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
	word-wrap: normal;
}

.c_RadTextBox_VALOR_PRODUTO
{
	font-family: 'Segoe UI' !important;
	font-size: 14px !important;
	background-color: #F7F7F7 !important;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	height: 100%;
	outline-style: none !important;
}

.c_RadTextBox_VALOR_PRODUTO_wrapper
{
	position: relative;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	display: block;
	margin: 0px var(--mright) 5px var(--mleft);
	--mleft: 0px;
	--mright: 0px;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
}

.c_LayoutRow2
{
	background-position: center;
	background-size: auto;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	padding: 10px !important;
}

.c_LayoutCol5
{
	background-color: #FFFFFF;
	background-position: center;
	background-size: auto;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	padding: 10px !important;
}

.c_Label_FOTO1_PRODUTO
{
	font-family: 'Segoe UI';
	font-size: 14px;
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	color: #383838;
	display: block;
	font-weight: 400;
	Padding-right: 0px;
	text-align: Left;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
	word-wrap: normal;
}

.c_GMultiMedia_FOTO1_PRODUTO
{
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	height: 170px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	display: block;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
}

.c_LayoutCol6
{
	background-color: #FFFFFF;
	background-position: center;
	background-size: auto;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	padding: 10px !important;
}

.c_Label_FOTO2_PRODUTO
{
	font-family: 'Segoe UI';
	font-size: 14px;
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	color: #383838;
	display: block;
	font-weight: 400;
	Padding-right: 0px;
	text-align: Left;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
	word-wrap: normal;
}

.c_GMultiMedia_FOTO2_PRODUTO
{
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	height: 170px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	display: block;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
}

.c_LayoutCol7
{
	background-color: #FFFFFF;
	background-position: center;
	background-size: auto;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	padding: 10px !important;
}

.c_Label_OBS_PRODUTO
{
	font-family: 'Segoe UI';
	font-size: 14px;
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	color: #383838;
	display: block;
	font-weight: 400;
	Padding-right: 0px;
	text-align: Left;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
	word-wrap: normal;
}

.c_RadTextBox_OBS_PRODUTO
{
	font-family: 'Segoe UI' !important;
	font-size: 14px !important;
	background-color: #F7F7F7 !important;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	height: 100%;
	outline-style: none !important;
}

.c_RadTextBox_OBS_PRODUTO_wrapper
{
	position: relative;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	display: block;
	margin: 0px var(--mright) 5px var(--mleft);
	--mleft: 0px;
	--mright: 0px;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
}

.c_LayoutRow5
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	padding: 10px !important;
}

.c_LayoutCol10
{
	background-color: #FFFFFF;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	padding: 5px 10px 5px 10px !important;
}

.c_gToolbar
{
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 0px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-style: None;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
}

.c_Button1
{
	width: 32px;
	height: 32px;
	background-image: url('../Images/Imagens padrão/New.png') !important;
	background-position: center;
	background-repeat: no-repeat !Important;
	cursor: pointer !important;
	display: block;
	outline-style: none !important;
	padding: 0px !important;
	padding: 0px 10px 0px 10px !important;
	text-align: Center;
}

.c_Button2
{
	width: 32px;
	height: 32px;
	background-image: url('../Images/Imagens padrão/Save.png') !important;
	background-position: center;
	background-repeat: no-repeat !Important;
	cursor: pointer !important;
	display: block;
	outline-style: none !important;
	padding: 0px !important;
	padding: 0px 10px 0px 10px !important;
	text-align: Center;
}

.c_Button3
{
	width: 32px;
	height: 32px;
	background-image: url('../Images/Imagens padrão/Cancel.png') !important;
	background-position: center;
	background-repeat: no-repeat !Important;
	cursor: pointer !important;
	display: block;
	outline-style: none !important;
	padding: 0px !important;
	padding: 0px 10px 0px 10px !important;
	text-align: Center;
}

.c_Button5
{
	width: 32px;
	height: 32px;
	background-image: url('../Images/Imagens padrão/First.png') !important;
	background-position: center;
	background-repeat: no-repeat !Important;
	cursor: pointer !important;
	display: block;
	outline-style: none !important;
	padding: 0px !important;
	padding: 0px 10px 0px 10px !important;
	text-align: Center;
}

.c_Button6
{
	width: 32px;
	height: 32px;
	background-image: url('../Images/Imagens padrão/Previous.png') !important;
	background-position: center;
	background-repeat: no-repeat !Important;
	cursor: pointer !important;
	display: block;
	outline-style: none !important;
	padding: 0px !important;
	padding: 0px 10px 0px 10px !important;
	text-align: Center;
}

.c_Button7
{
	width: 32px;
	height: 32px;
	background-image: url('../Images/Imagens padrão/Next.png') !important;
	background-position: center;
	background-repeat: no-repeat !Important;
	cursor: pointer !important;
	display: block;
	outline-style: none !important;
	padding: 0px !important;
	padding: 0px 10px 0px 10px !important;
	text-align: Center;
}

.c_Button8
{
	width: 32px;
	height: 32px;
	background-image: url('../Images/Imagens padrão/Last.png') !important;
	background-position: center;
	background-repeat: no-repeat !Important;
	cursor: pointer !important;
	display: block;
	outline-style: none !important;
	padding: 0px !important;
	padding: 0px 10px 0px 10px !important;
	text-align: Center;
}

.c_Button10
{
	width: 32px;
	height: 32px;
	background-image: url('../Images/Imagens padrão/Edit.png') !important;
	background-position: center;
	background-repeat: no-repeat !Important;
	cursor: pointer !important;
	display: block;
	outline-style: none !important;
	padding: 0px !important;
	padding: 0px 10px 0px 10px !important;
	text-align: Center;
}

.c_LayoutRow4
{
	background-position: center;
	background-size: auto;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	padding: 0px !important;
}

.c_LayoutCol9
{
	background-position: center;
	background-size: auto;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	padding: 0px !important;
}

.c_labError
{
	font-family: Roboto;
	font-size: 14px;
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 0px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-color: Transparent;
	border-style: None;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-width: 0px;
	color: #FF0000;
	cursor: inherit;
	display: block;
	font-weight: 400;
	line-height: 12px;
	Padding-right: 0px;
	text-align: Left;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
	word-wrap: normal;
}
/*		Hover style		*/

