/*		Remove Guters		*/
.row {
	margin-right: 0;
	margin-left: 0;
}
	
.container-fluid {
	padding-right: 0;
	padding-left: 0;
}

.container {
	padding-right: 0;
	padding-left: 0;
}



.c_Form1
{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

#Form1_body
{
	background-color: #FFFFFF;
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	font-size: 100%;
	margin: 0px;
	overflow: inherit;
}

.c_MainAjaxPanel
{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	height: 100%;
	left: 0px;
	right: 0px;
	top: 0px;
	width: 100%;
}

.c_LayoutContainer1
{
	background-color: Transparent;
	background-size: auto;
	cursor: inherit;
}

.c_LayoutRow2
{
	background-color: #007CBF;
	background-position: center;
	background-size: auto;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	padding: 10px !important;
}

.c_LayoutCol6
{
	background-position: center;
	background-size: auto;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	padding: 10px !important;
}

.c_Label1
{
	font-family: Arial;
	font-size: 18px;
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 0px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-color: Transparent;
	border-style: None;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-width: 0px;
	color: #FFFFFF;
	cursor: inherit;
	display: block;
	font-weight: 400;
	line-height: 12px;
	Padding-right: 0px;
	text-align: Center;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
	word-wrap: normal;
}

.c_LayoutRow3
{
	background-position: center;
	background-size: auto;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	padding: 10px !important;
}

.c_LayoutCol7
{
	background-color: #FFFFFF;
	background-position: center;
	background-size: auto;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	padding: 10px !important;
}

.c_Label_TOTAL_VENDA
{
	font-family: 'Segoe UI';
	font-size: 14px;
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 0px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	color: #383838;
	display: block;
	font-weight: 400;
	Padding-right: 0px;
	text-align: Left;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
	word-wrap: normal;
}

.c_RadTextBox_TOTAL_VENDA
{
	font-family: 'Segoe UI' !important;
	font-size: 14px !important;
	background-color: #F7F7F7 !important;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	height: 100%;
	outline-style: none !important;
}

.c_RadTextBox_TOTAL_VENDA_wrapper
{
	position: relative;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	display: block;
	margin: 0px var(--mright) 5px var(--mleft);
	--mleft: 0px;
	--mright: 0px;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
}

.c_LayoutRow1
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	padding: 10px !important;
}

.c_LayoutCol1
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	padding: 5px 10px 5px 10px !important;
}

.c_Label2
{
	font-family: 'Segoe UI';
	font-size: 14px;
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	color: #383838;
	display: block;
	font-weight: 400;
	Padding-right: 0px;
	text-align: Left;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
	word-wrap: normal;
}

.c_ComboBox1
{
	font-family: 'Segoe UI';
	font-size: 14px;
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	background-color: #F7F7F7;
	cursor: inherit;
	display: block;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
}

.c_GComboBoxItem1
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	width: 0px;
	height: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
}

.c_GComboBoxItem2
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	width: 0px;
	height: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
}

.c_GComboBoxItem3
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	width: 0px;
	height: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
}

.c_LayoutCol24
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	padding: 5px 10px 5px 10px !important;
}

.c_Button13
{
	font-family: 'Segoe UI';
	font-size: 14px;
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	height: 33px;
	background-image: none !important;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	border-bottom-left-radius: 10px !important;
	border-bottom-right-radius: 10px !important;
	border-top-left-radius: 10px !important;
	border-top-right-radius: 10px !important;
	border-width: 1px !important;
	display: block;
	outline-style: none !important;
	padding: 0px !important;
	padding: 0px 10px 0px 10px !important;
	text-align: Center;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
}

.c_Button13:not(:hover), .c_Button13.RadButton.rbButton.rbDisabled
{
	background-color: #337AB7;
	border-color: #CCCCCC;
	color: #FFFFFF !important;
}
/*		Hover style		*/


.c_Button13:hover
{
	background-color: #337AB7 !important;
	border-color: #CCCCCC !important;
	color: #FFFFFF !important;
}

.c_Button13:hover
{
	background-color: #337AB7 !important;
	border-color: #CCCCCC !important;
	color: #FFFFFF !important;
}
